{% extends "backend/config.html" %}
{% block layout_before_content %}
<div class="ibox-content m-b-sm border-bottom">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="material-icons mid-icon brand-text-color">mail</i>
        </div>
        <h2>Line Bot 設定</h2>
        請至 <a href="https://business.line.me/zh-hant/">LINE Business Center</a> 建立可使用 Messaging API 的帳號、再到 LINE developers 下，取得該帳號的 Channel Secret 與 Channel Access Token
        callback 的網址為 /line_bot/line_bot/callback 。
        {% if last_record_date %}<span class="text-muted small pull-right visible-sm visible-md visible-lg">最後更新：<i class="icon">access_time</i> {{ print_value(last_record_date) }}</span>{% endif %}
    </div>
</div>
{% endblock %}
